.heading {
    text-align: center;
    margin: 15px;
    padding: 15px;
}

.adding-new-task-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 15px;
    border: 1px gray solid;
    border-radius: 5px;
    padding: 15px;
}

.tasks-container {
    border: 1px gray solid;
    border-radius: 5px;
    margin: 10px;
}